/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace global "com.viewscenes.global.*";
@namespace menu "com.morcha4.frame.menu.*";
@namespace menu1 "com.viewscenes.global.menu.*";
@namespace module "com.viewscenes.module.*";
@namespace tabbar "com.morcha4.ui.tabbar.*";
@namespace supportClass "com.morcha4.skin.dataGrid.supportClass.*";
@namespace system "com.morcha4.frame.system.*";
@namespace contaners "com.morcha4.ui.contaners.*";
@namespace customization "com.morcha4.customization.*";
@namespace button "com.morcha4.ui.button.*";
@namespace customization1 "com.viewscenes.module.customization.*";
@namespace dropdownList "com.morcha4.skin.dropdownList.*";
@namespace advancedComboBox "com.morcha4.ui.advancedComboBox.*";
@namespace button1 "com.morcha4.skin.button.*";
@namespace spark "spark.skins.spark.*";
@namespace local "*";
@namespace tabbar1 "com.morcha4.skin.tabbar.*";
@namespace playBar "com.viewscenes.utils.player.playBar.*";
@namespace timecomp "com.viewscenes.utils.timecomp.*";
@namespace login "com.viewscenes.global.login.*";
@namespace titleWindow "com.morcha4.skin.titleWindow.*";
@namespace spark1 "mx.skins.spark.*";
global{
	modalTransparencyColor:#000000;
	modalTransparency:0.5;
	fontSize:14;
	fontFamily:'宋体';
}
s|Application{
	fontSize:14;
    color:#000000;
}
mx|ToolTip{
	fontSize:14;
}
global|MainPan{
	backgroundColor:#e6d99c;
	logoSrc:Embed(source='com/viewscenes/images/default/global2/logo.png');
	bannerBG:Embed(source='com/viewscenes/images/default/global2/banner_bg.jpg');
	bannerLOGO:Embed(source='com/viewscenes/images/default/global2/banner_logo.png');
	logoGB:Embed(source='com/viewscenes/images/default/global2/logo_bg.jpg');
	leftBG:Embed(source='com/viewscenes/images/default/global2/left_bg.jpg');
	leftBGBottom:Embed(source='com/viewscenes/images/default/global2/left_bg_bottom.jpg');
	shrinkSrc:Embed(source='com/viewscenes/images/default/global2/shrink.png');
	ejectSrc:Embed(source='com/viewscenes/images/default/global2/Eject.jpg');
	bannerCloseSrc:Embed(source='com/viewscenes/images/default/global2/banner_close.png');
}
login|LoginPan{
	loginSwff:Embed(source='com/viewscenes/images/default/global2/button/full_over.png');
}
/**
BGColor1:#e3e0d0;
BGColor2:#e3e0d0;
BGSource:Embed(source='com/viewscenes/images/default/global2/main_bg.png',scaleGridTop='8',scaleGridBottom='600',scaleGridLeft='8',scaleGridRight='1000');
*/
system|BasePage{
	
}

menu1|Menu1Item{
	rollOverSrc:Embed(source='com/viewscenes/images/default/global2/menu1/over.png');
	selectedColor:#861b6c;
	overColor:#d40000;
	color:#000000;
	fontSize:13;
	fontWeight:"bold";
	textAlignLast:center;
	textAlign:center;
}
menu1|Menu2Item{
	showSrc:Embed(source='com/viewscenes/images/default/global2/menu2/2.jpg',scaleGridTop='5',scaleGridBottom='7',scaleGridLeft='3',scaleGridRight='5');
	rollOverSrc:Embed(source='com/viewscenes/images/default/global2/menu2/2_over.jpg',scaleGridTop='5',scaleGridBottom='7',scaleGridLeft='3',scaleGridRight='5');
	selectedColor:#588f27;
	overColor:#588f27;
	upColor:#ffffff;
	fontSize:15;
	selectedFontWeight:"bold";
	fontWeight:"bold";
	textAlignLast:center;
	textAlign:center;
}
menu1|Menu3Item{
	showSrc:Embed(source='com/viewscenes/images/default/global2/menu3/3.jpg',scaleGridTop='5',scaleGridBottom='7',scaleGridLeft='5',scaleGridRight='7');
	rollOverSrc:Embed(source='com/viewscenes/images/default/global2/menu3/3_over.jpg',scaleGridTop='5',scaleGridBottom='7',scaleGridLeft='5',scaleGridRight='7');
	selectedColor:#588f27;
	overColor:#588f27;
	upColor:#000000;
	fontSize:14;
	selectedFontWeight:"bold";
	fontWeight:normal;
	textAlignLast:center;
	textAlign:center;
}
menu1|Menu2{
	showSrc:Embed(source='com/viewscenes/images/default/global2/menu2/2.jpg',scaleGridTop='5',scaleGridBottom='7',scaleGridLeft='3',scaleGridRight='5');
	contentGrid:4,4,6,6;
}
menu1|Menu3{
	showSrc:Embed(source='com/viewscenes/images/default/global2/menu3/3.jpg',scaleGridTop='5',scaleGridBottom='7',scaleGridLeft='5',scaleGridRight='7');
	contentGrid:4,4,6,6;
}
s|DataGrid.effect{
	borderVisible:true;
	alternatingRowColors:#e8e8e8,#ffffff;
	rollOverColors:#dfd3d3,#dfd3d3;
	selectionColor:#ffdf91;
	separatorColor1:#ffffff;
	separatorColor2:#000000;
	separatorHeadColor:#959595;
	skinClass:ClassReference("com.viewscenes.skin.DataGridSkinWrapHead");
}
s|DataGrid{
	borderVisible:true;
	alternatingRowColors:#e8e8e8,#ffffff;
	rollOverColors:#dfd3d3,#dfd3d3;
	selectionColor:#ffdf91;
	separatorColor1:#ffffff;
	separatorColor2:#000000;
	separatorHeadColor:#959595;
	skinClass:ClassReference("com.morcha4.skin.dataGrid.NoSelectDataGridSkin");
	
}
s|DataGrid s|Grid{
	lineColor:#ffffff;
	fontSize:14pt;
	color:#000000;
}
s|GridColumnHeaderGroup{
	lineColor:#959595;
	
}
supportClass|StyleAbleLine{
	lineColor1:#FFFFFF;
	lineColor2:#000000;
	lineWeight1:1;
	lineWeight2:1;
	lineAlpha1:0.5;
	lineAlpha2:0.2;
}
supportClass|StyleAbleLineHead{
	lineColor1:#959595;
	lineColor2:#000000;
	lineWeight1:1;
	lineWeight2:1;
	lineAlpha1:0.5;
	lineAlpha2:0.2;
}
supportClass|ImageFillDataGridHeaderRenderer.header1{
	headerBG:Embed(source="com/viewscenes/images/default/ui/dataGrid/headerline.jpg",scaleGridTop='2',scaleGridBottom='35',scaleGridLeft='4',scaleGridRight='5');
	color:#000000;
	fontSize:14pt;
}
supportClass|ImageFillDataGridHeaderRenderer.header2{
	headerBG:Embed(source="com/viewscenes/images/default/global2/what.png",scaleGridTop='0',scaleGridBottom='1',scaleGridLeft='0',scaleGridRight='1');
	fontSize:14pt;
}
s|Button{
	skinClass:ClassReference("com.morcha4.skin.button.BorderButtonSkin");
	borderBackground:Embed(source='com/viewscenes/images/default/global2/what.png');
	contentGrid:0,0,0,0;
	BGDepth:9;
	downBG:Embed(source='com/viewscenes/images/default/ui/button/over.png',scaleGridTop='1',scaleGridBottom='26',scaleGridLeft='25',scaleGridRight='26');
	upBG:Embed(source='com/viewscenes/images/default/ui/button/over.png',scaleGridTop='1',scaleGridBottom='26',scaleGridLeft='25',scaleGridRight='26');
	overBG:Embed(source='com/viewscenes/images/default/ui/button/up.png',scaleGridTop='1',scaleGridBottom='26',scaleGridLeft='25',scaleGridRight='26');
	color:#ffffff;
	
	fontSize:13;
	
}
s|Button.renderer{
	
	fontSize:14;
}
s|Button.loginButton{
	skinClass:ClassReference("com.morcha4.skin.button.BorderButtonSkin");
	borderBackground:Embed(source='com/viewscenes/images/default/global2/what.png');
	contentGrid:1,1,1,1;
	BGDepth:9;
	downBG:Embed(source='com/viewscenes/images/default/global2/button/login.png');
	upBG:Embed(source='com/viewscenes/images/default/global2/button/login.png');
	overBG:Embed(source='com/viewscenes/images/default/global2/button/login.png');
}

s|Button.mainRefresh{
	skinClass:ClassReference("com.morcha4.skin.button.BorderButtonSkin");
	borderBackground:Embed(source='com/viewscenes/images/default/global2/what.png');
	contentGrid:1,1,1,1;
	BGDepth:9;
	upBG:Embed(source='com/viewscenes/images/default/global2/button/reload.png');
	downBG:Embed(source='com/viewscenes/images/default/global2/button/reload.png');
	overBG:Embed(source='com/viewscenes/images/default/global2/button/reload_over.png');
}
s|Button.mainMini{
	skinClass:ClassReference("com.morcha4.skin.button.BorderButtonSkin");
	borderBackground:Embed(source='com/viewscenes/images/default/global2/what.png');
	contentGrid:1,1,1,1;
	BGDepth:9;
	upBG:Embed(source='com/viewscenes/images/default/global2/button/mini.png');
	downBG:Embed(source='com/viewscenes/images/default/global2/button/mini.png');
	overBG:Embed(source='com/viewscenes/images/default/global2/button/mini_over.png');
}
s|Button.mainFull{
	skinClass:ClassReference("com.morcha4.skin.button.BorderButtonSkin");
	borderBackground:Embed(source='com/viewscenes/images/default/global2/what.png');
	contentGrid:1,1,1,1;
	BGDepth:9;
	upBG:Embed(source='com/viewscenes/images/default/global2/button/full.png');
	downBG:Embed(source='com/viewscenes/images/default/global2/button/full.png');
	overBG:Embed(source='com/viewscenes/images/default/global2/button/full_over.png');
}
s|Button.mainClose{
	skinClass:ClassReference("com.morcha4.skin.button.BorderButtonSkin");
	borderBackground:Embed(source='com/viewscenes/images/default/global2/what.png');
	contentGrid:1,1,1,1;
	BGDepth:9;
	upBG:Embed(source='com/viewscenes/images/default/global2/button/close.png');
	downBG:Embed(source='com/viewscenes/images/default/global2/button/close.png');
	overBG:Embed(source='com/viewscenes/images/default/global2/button/close_over.png');
}
tabbar|VButtonBarButton{
	selectColor:#a12102;
	color:#ffffff;
	jLeft:Embed(source="com/viewscenes/images/default/ui/tabBar/juchi_left.png");
	jTop:Embed(source="com/viewscenes/images/default/ui/tabBar/juchi.png");
	jBottom:Embed(source="com/viewscenes/images/default/ui/tabBar/juchi_bottom.png");
	source:Embed(source="com/viewscenes/images/default/ui/tabBar/bg.png");
	selectSource:Embed(source="com/viewscenes/images/default/ui/tabBar/selectbg.png");
	overSource:Embed(source="com/viewscenes/images/default/ui/tabBar/overbg.png");
	
	fontWeight:bold;
	fontSize:13;
	numCol:1;
}
playBar|playBar{
	backgroundColors:#eaeaea,#cacaca;
}
playBar|PlayButton{
	playUrl:Embed(source='com/viewscenes/images/default/player/play.png');
	_playUrl:Embed(source='com/viewscenes/images/default/player/play.png');
	pauseUrl:Embed(source='com/viewscenes/images/default/player/zt.png');
	_pauseUrl:Embed(source='com/viewscenes/images/default/player/zt.png');
}
playBar|StopButton{
	stopUrl:Embed(source='com/viewscenes/images/default/player/stop.png');
	_stopUrl:Embed(source='com/viewscenes/images/default/player/stop.png');
}
playBar|JYButton{
	jyUrl:Embed(source='com/viewscenes/images/default/player/sy.png');
	_jyUrl:Embed(source='com/viewscenes/images/default/player/jy.png');
}
playBar|FullButton{
	_fullUrl:Embed(source='com/viewscenes/images/default/player/qp.png');
	fullUrl:Embed(source='com/viewscenes/images/default/player/qp.png');
}


s|DropDownList{
	skinClass:ClassReference("com.morcha4.skin.dropdownList.DropDownListSkin");
	color:#000000;
	borderColor:#434343;
	bgColor:#ffffff;
	rollOverColor:#74cdff;
	selectionColor:#fbd551;
	alternatingItemColors:#ffffff,#cccccc;
}
dropdownList|DropDownListButtonSkin{
	fillColors:#ffffff,#cccccc;
	lightColor:#fbd551;
	borderColor:#434343;
	dividColor:#ffffff;
	arrowColor:#434343;
}

s|ComboBox{
	skinClass:ClassReference("com.morcha4.skin.comboBox.ComboBoxSkin");
	focusSkin:ClassReference("null");
	color:#000000;
	borderColor:#434343;
	bgColor:#ffffff;
	rollOverColor:#74cdff;
	selectionColor:#fbd551;
	alternatingItemColors:#faf8ef,#f3edd8;
}
/*s|ComboBox s|TextInput{
}*/
advancedComboBox|AdvancedCombobox{
	focusSkin:ClassReference("null");
	color:#000000;
	borderColor:#434343;
	bgColor:#ffffff;
	rollOverColor:#74cdff;
	selectionColor:#fbd551;
	alternatingItemColors:#ffffff,#cccccc;
}
s|TextInput{
	skinClass:ClassReference("com.morcha4.skin.textInput.TextInputSkin");
	focusSkin:ClassReference("null");
	bgColor:#f6f6f6;
	bgAlpha:1;
	color:#000000;
	borderColor:#434343;
}
s|TitleWindow{
    skinClass:ClassReference("com.morcha4.skin.titleWindow.TitleWindowSkin");
	closeButtonRightOff:25;
	closeButtonTopOff:5;
	closeButtonSrc:'com/viewscenes/images/default/ui/titleWindow/gb.png';
	contentSrc:'com/viewscenes/images/default/ui/titleWindow/wind_content.png';
	color:#000000;
}
s|TitleWindow contaners|BorderContainer#border{
	borderBackground:Embed(source='com/viewscenes/images/default/ui/titleWindow/border.png',scaleGridTop='50',scaleGridBottom='160',scaleGridLeft='34',scaleGridRight='35');
	contentGrid:5,11,38,20;
}
s|TitleWindow button|IconButton#closeButton{
	upSrc:Embed(source="com/viewscenes/images/default/ui/titleWindow/gb.png");
	overSrc:Embed(source="com/viewscenes/images/default/ui/titleWindow/gb.png");
	downSrc:Embed(source="com/viewscenes/images/default/ui/titleWindow/gb.png");
}
s|TabBar{
	skinClass:ClassReference("com.morcha4.skin.tabbar.TabbarSkin");
	color:#000000;
}
tabbar1|TabbarButtonSkin{
	upColor:#ffffff;
	selectColor:#000000;
	upSrc:Embed(source="com/viewscenes/images/default/ui/tabBar/hbar/over.png",scaleGridTop='12',scaleGridBottom='13',scaleGridLeft='6',scaleGridRight='8');
	overSrc:Embed(source="com/viewscenes/images/default/ui/tabBar/hbar/up.png",scaleGridTop='12',scaleGridBottom='13',scaleGridLeft='6',scaleGridRight='8');
	selectSrc:Embed(source="com/viewscenes/images/default/ui/tabBar/hbar/up.png",scaleGridTop='12',scaleGridBottom='13',scaleGridLeft='6',scaleGridRight='8');
}
contaners|TitleContainer{
	fontWeight:bold;
	
	fontSize:14;
	topOff:15;
	titleBGSrc:Embed(source='com/viewscenes/images/default/ui/border/title.png',scaleGridTop='14',scaleGridBottom='16',scaleGridLeft='24',scaleGridRight='25');
	borderBackground:Embed(source='com/viewscenes/images/default/ui/border/kuang.png',scaleGridTop='10',scaleGridBottom='15',scaleGridLeft='10',scaleGridRight='15');
	contentGrid:5,5,37,5;
}


.MChSel{
	border-color:red;
	border-style:inset;
}
.MChNoSel{
	border-style:none;
}

.AlertTitle
{ 
	font-size: 12pt; 
	font-weight: normal;
	font-style: normal;
} 
.AlertMessage
{
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}
contaners|GroupBox{
	skinClass:ClassReference("com.morcha4.skin.groupBox.GroupBoxSkin");
	borderColor:#959595;
	borderAlpha:1;
	titleColor:#0000ff;
}
mx|Alert{
	color:#000000
}
mx|NavBar{
	color:#000000
}
timecomp|TimeNew{
	color:#000000;
}
s|ToggleButton.record{
	skinClass:ClassReference("com.morcha4.skin.button.PressToggleButtonSkin");
	upSrc:Embed(source="com/viewscenes/images/default/ui/button/recordup.png");
	downSrc:Embed(source="com/viewscenes/images/default/ui/button/recorddown.png");
}
s|ToggleButton.detail{
	skinClass:ClassReference("com.morcha4.skin.button.PressToggleButtonSkin");
	upSrc:Embed(source="com/viewscenes/images/default/ui/button/detail.png");
	downSrc:Embed(source="com/viewscenes/images/default/ui/button/hide_detail.png");
	
}
s|ToggleButton.title{
	skinClass:ClassReference("com.morcha4.skin.button.PressToggleButtonSkin");
	upSrc:Embed(source="com/viewscenes/images/default/global2/title_bg.jpg",scaleGridTop='1',scaleGridBottom='31',scaleGridLeft='30',scaleGridRight='50');
	downSrc:Embed(source="com/viewscenes/images/default/global2/title_bg_hover.jpg",scaleGridTop='1',scaleGridBottom='31',scaleGridLeft='30',scaleGridRight='50');
	
}
